<!-- 
    Checkout HTML Page
    Manpreet Bahl
    Inventory Management System
-->
<!DOCTYPE html>

<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
    <link rel="stylesheet" href="{{url_for('static', filename='node_modules/tablesaw/dist/tablesaw.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='node_modules/tablesaw/dist/tablesaw.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='node_modules/tablesaw/dist/tablesaw-init.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='checkout.css')}}"> 
    <script type="text/javascript" src="{{url_for('static', filename='checkout.js')}}"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">IMS</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/checkout">Checkout</a></li>
                <li><a href="/checkin">Checkin</a></li>
                <li><a href="/request">Request</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2>Available Items</h2>
                <!-- The tablesaw library was used for the responsive table. Link to the plugin can be found here:
                    https://github.com/filamentgroup/tablesaw
            All credit goes to filamentgroup for the use of tablesaw tables in this project.
            Below is a copy of the LICENSE from the tablsaw repository linked above:
            
                Copyright (c) 2013 Filament Group

                Permission is hereby granted, free of charge, to any person
                obtaining a copy of this software and associated documentation
                files (the "Software"), to deal in the Software without
                restriction, including without limitation the rights to use,
                copy, modify, merge, publish, distribute, sublicense, and/or sell
                copies of the Software, and to permit persons to whom the
                Software is furnished to do so, subject to the following
                conditions:

                The above copyright notice and this permission notice shall be
                included in all copies or substantial portions of the Software.

                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
                EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
                OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
                NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
                HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
                WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
                FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
                OTHER DEALINGS IN THE SOFTWARE.
        -->
        <table id="checkoutTable" class="table table-bordered" border="1" data-tablesaw-sortable data-tablesaw-sortable-switch>
            <thead>
                <tr>
                    <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col>Item</th>
                    <th>Description</th>
                    <th>Quantity Available</th>
                </tr>
            </thead>
            <tbody>
                <!-- Flask table populating was found here: https://stackoverflow.com/questions/13315883/how-to-structure-data-to-easily-build-html-tables-in-flask -->
                {% for id, name, description, quantity in result %} 
                <tr class="clickable-row" id={{id}}>
                    <td id="name"> {{ name }} </td>
                    <td id="desc">  {{ description }} </td>
                    <td id="quantity"> {{ quantity }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="cart" class="container">
        <h2>Cart</h2>
        <table id="cartTable" class="table table-bordered" border="1">
            <thead>
                <tr>
                    <th></th>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Checkout Quanitity</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="container" id="buttonGroup">
        <button type="button" class="btn btn-danger" id="remove" disabled>Remove Selected Item(s)</button>
        <button type="button" class="btn btn-success" id="checkout" disabled>Checkout</button>
    </div>
</body>