<!<!DOCTYPE html>

<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">IMS</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/checkout">Checkout</a></li>
                <li><a href="#">Checkin</a></li>
                <li><a href="/request">Request</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <table border = 1>
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Description</th>
                        <th>Quantity Available</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, description, quantity in result %}
                    
                    <tr>
                        <th> {{ name }} </th>
                        <td> {{ description }} </td>
                        <td> {{ quantity }} </td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
    </div>
</body>