<!-- 
    Checkin HTML Page
    Manpreet Bahl
    Inventory Management System
-->
<!DOCTYPE html>

<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
    <link rel="stylesheet" href="{{url_for('static', filename='node_modules/tablesaw/dist/tablesaw.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='node_modules/tablesaw/dist/tablesaw.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='node_modules/tablesaw/dist/tablesaw-init.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='checkout.css')}}"> 
    <script type="text/javascript" src="{{url_for('static', filename='checkin.js')}}"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">IMS</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/checkout">Checkout</a></li>
                <li class="active"><a href="/checkin">Checkin</a></li>
                <li><a href="/request">Request</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2>Available Items</h2>
        <table id="inventoryTable" class="table table-bordered" border="1" data-tablesaw-sortable data-tablesaw-sortable-switch>
            <thead>
                <tr>
                    <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col>Item</th>
                    <th>Description</th>
                    <th>Quantity Available</th>
                </tr>
            </thead>
            <tbody>
                <!-- Flask table populating was found here: https://stackoverflow.com/questions/13315883/how-to-structure-data-to-easily-build-html-tables-in-flask -->
                {% for id, name, description, quantity in result %} 
                <tr class="clickable-row" id={{id}}>
                    <td id="name"> {{ name }} </td>
                    <td id="desc">  {{ description }} </td>
                    <td id="quantity"> {{ quantity }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="checkin" class="container">
        <h2>Checkin Items</h2>
        <table id="checkinTable" class="table table-bordered" border="1">
            <thead>
                <tr>
                    <th></th>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Checkin Quanitity</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="container" id="buttonGroup">
        <button type="button" class="btn btn-danger" id="remove" disabled>Remove Selected Item(s)</button>
        <button type="button" class="btn btn-success" id="checkinButton" disabled>Checkin</button>
    </div>
</body>